<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Hi <%= @user.name %>!</h1>
    <br>
    <p>Thank's for signing up, hope you liked the sign up form and nothing caught fire.</p>
    <br>
    <p>If you have any other questions(like when are you free for an interview?) please email <a href="mailto:brynbayliss@hotmail.com">Bryn</a>.
  </body>
</html>
